.error { 
    color: red; 
}
.error-message {
color: red;
font-size: 16px;
}

body {
    background-image: url(sebastian-unrau-sp-p7uuT0tw-unsplash.jpg);
    font-family: "Hammersmith One", sans-serif;
    background-size: cover;
    background-position: center;
     width: 100%;
     height: 100vh;
}
.btn{
    width: 20%;
    padding: 10px;
    margin: 10px 1%;
    border: none;
    
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.btn1{
    background-color: rgb(25, 222, 25);
}
.btn2{
    background-color: rgb(232, 0, 0);
}
@media only screen and (max-width: 500px) {
    .btn{
        width:50%
    }
  
  }

  .gradient-div {
    background: transparent;
   
    padding: 30px;
    color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      height:auto;
    max-width: 1000px;
    width: 100%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}
